@import "../../../App.scss";

.middle {
  width: 100%;
  height: 200px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex: 1;
}

.logo {
  flex: 2;
  font-size: 5.5ch;
}

.shoppingBag {
  display: flex;
  justify-content: flex-end;
  flex: 1;
  display: flex;
}

.shoppingBag .label {
  font-weight: 600;
  padding-right: 15px;
}

.shoppingBag .iconBag {
  position: relative;
  height: 50px;
  padding: 5px;
}

.shoppingBag:hover {
  cursor: pointer;
}

.shoppingBag:hover > .iconBag {
  background-color: $tintBlur;
  border-radius: 100%;
  transition: 0.4s;
}

.searchButton:hover {
  background-color: $tintBlur;
  border-radius: 100%;
  transition: 0.4s;
}

.badge {
  position: absolute;
  background-color: $tint;
  color: white;
  border-radius: 100%;
  font-weight: bolder;
  width: 20px;
  height: 20px;
  right: 0;
  bottom: 0;
  text-align: center;
}

.searchContainer {
  display: flex;
  flex: 2;
  width: 350px;
  flex-direction: row;
  height:40px;
  position: relative;
  border-bottom: 1px solid black;
}

.searchIcon {
  height: 30px;
  width: 30px;
  margin: 5px;
  color: $tintBlur;
  transition: 0.2s;
}

.searchIcon:hover {
  cursor: pointer;
  color: $tint;
  height: 35px;
  width: 35px;
}

.searchContainer input[type="text"] {
  width: 100%;
  padding: 10px;
  border: none;
}

.searchContainer input[type="text"]:focus {
  outline: none;
}

.searchButton {
  display: none;
  padding: 20px;
  height: 40px;
  width: 40px;
}

.menuBtn {
  display: none;
}

@media only screen and (max-width: 900px) {
  .menuBtn {
    display: block;
    padding: 10px;
  }
  .logo {
    font-size: 4.5ch;
  }
  .menuBtn:hover {
    background-color: $tintBlur;
    border-radius: 100%;
    transition: 0.4s;
  }
  .searchButton {
    display: block;
    padding: 10px;
  }
  .shoppingBag {
    flex: none;
    padding: 15px;
    margin-right: 10px;
  }
  .middle {
    height: 90px;
  }
}
