$borderColor: #c8c8c8;
$fontColor: #505050;
$tint: #f54295;
$tintBlur: #ff98c8;

.App {
  justify-content: center;
}

.container {
  margin-right: auto;
  margin-left: auto;
  max-width: 960px;
  padding-right: 10px;
  padding-left: 10px;
  display: flex;
  justify-content: space-between;
}
.middle {
  width: 100%;
  height: 200px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex: 1;
}
.logo {
  flex: 2;
  font-size: 5.5ch;
}
.row {
  display: flex;
  flex-direction: row;
}

.topBar {
  color: $fontColor;
  border-bottom: 1px solid $borderColor;
}

.topBar .icon {
  margin-right: 8px;
}

.topBar .button {
  display: flex;
  padding: 10px;
}

.rect {
  display: flex;
  margin-left: -1px;
  align-items: center;
  border-left: 1px solid $borderColor;
  border-right: 1px solid $borderColor;
  padding: 10px;
}

.shoppingBag {
  display: flex;
  justify-content: flex-end;
  flex: 1;
  padding: 30px;
  display: flex;
}
.shoppingBag .label {
  font-weight: 600;
}
.iconBag {
  position: relative;
  height: 50px;
}
.badge {
  position: absolute;
  background-color: $tintBlur;
  color: white;
  border-radius: 100%;
  font-weight: bolder;
  width: 20px;
  height: 20px;
  right: 0;
  bottom: 0;
  text-align: center;
}

.search {
  display: flex;
  flex: 2;
  width: 350px;
  flex-direction: row;
  border-bottom: 1px solid black;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  border: none;
}

input[type="text"]:focus {
  outline: none;
}

.menu {
  margin: 18px;
  display: none;
}

.searchButton {
  display: none;
  padding: 20px;
  height: 50px;
}

.menuButton {
  text-transform: uppercase;
  font-weight: bold;
  white-space: nowrap;
}

.active {
  color: $tintBlur;
}

.menuButton:hover {
  color: $tint;
  cursor: pointer;
}
.categories {
  border-bottom: 1px solid $borderColor;
  padding-bottom: 30px;
  justify-content: space-between;
}

@media only screen and (max-width: 900px) {
  .topBar,
  .label,
  .search,
  .categories {
    display: none;
  }
  .menu {
    display: block;
  }

  .searchButton {
    display: block;
    padding: 10px;
  }

  .shoppingBag {
    flex: none;
  }

  .middle {
    height: 90px;
  }
}
